<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item active" ><a href="#"> Statistics  </a></li>
                <li class="breadcrumb-item"><a href="#"> Dashboard </a></li>
                <li class="breadcrumb-item"><a href="#"> Final</a> </li>
            </ol> -->
            <!-- <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb> -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 sideNav sidenavChild sidenavbars" style="border: 1px solid;">
            <h3>Category</h3>
            <a [routerLink]="['./incident']">
                <td> Critical Incidents (Accident + Near Miss) For Fleet </td>
            </a>
        </div>
        <div class="col-lg-6">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>